[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
django-countries = "*"
django-seed = "*"
pillow = {path = "./Pillow-8.0.1-cp39-cp39-macosx_11_0_arm64.whl"}

[dev-packages]

[requires]
python_version = "3.9"
